$font-stack--headings: 'Patrick Hand', cursive;
$font-stack--reading: 'Yantramanav', sans-serif;
$primary-color: #303030;
$secondary-color: #6b6b6b;

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
