
@use 'variables' as *;
@use 'reset';

body {
  font-family: $font-stack--reading;
}

h1{
  font-family: 'Patrick Hand', cursive;
}
h2{
  font-family: 'Patrick Hand', cursive;
}
h3,
h4,
h5,
h6 {
  font-family: $font-stack--headings;
}