
@use 'variables' as *;
@use 'reset';
@import 'landing';

body{
  font-family: $font-stack--reading;
  background: $primary-color;
  color: #fff;
  height: 100vh;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--headings;
  font-weight: 450;
}

a{
  color:#fff;
  text-decoration: none;
}

ul{
  border-bottom: 4px solid #000f;
  border-right: 4px solid #000f;
  border-left: 2px solid #000f;
  border-top: 2px solid #000f;
}

li a{
  display: block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  background-color: #dddddd;
  border-bottom: 1px solid #000f;
}

header{
  position: fixed;
  z-index: 2;
  padding: 1rem;
  width: 100%;
}

nav{
  text-align: right;
  width: 12%;
  height: 100%;
  line-height: 40px;
}

main{
  height: 100%;
  width: 100%;  
}

footer{
  font-size: .8rem;
  position: fixed;
  right: .8rem;
  bottom: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}