
@use 'variables' as *;
@use 'reset';

body{
  font-family: $font-stack--reading;
  background: $primary-color;
  color: #fff;
  height: 100vh;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--headings;
  font-weight: 450;
}

a{
  color:#fff;
  text-decoration: none;
}